:root {
  --grey: #eeeeee;
  --greish: #e1e1e1;
  --dark: #444444;
  --darken: #555555;
  --darker: #333333;
  --light: #ffffff;
  --lighter: #f7f7f7;
  --disabled: #c4c4c4;
}

.button {
  width: 7rem;
  height: 3rem;
  font-size: 18px;
  border-radius: 3rem;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem;
}
.button:disabled {
  color: var(--dark);
  background-color: var(--disabled);
  border: 2px solid var(--disabled);
  cursor: not-allowed;
}
.button--primary {
  color: var(--light);
  background-color: var(--dark);
  border: 2px solid var(--dark);
}
.button--secondary {
  color: var(--darker);
  background-color: var(--grey);
  border: 2px solid var(--grey);
}
.button--tertiary {
  color: var(--dark);
  background-color: var(--light);
  border: 2px solid var(--light);
}
.button--primary:not(.button:disabled):hover {
  background-color: var(--darken);
  border: 2px solid var(--darken);
  cursor: pointer;
}
.button--secondary:not(.button:disabled):hover {
  color: var(--darker);
  background-color: var(--greish);
  border: 2px solid var(--greish);
  cursor: pointer;
}
.button--tertiary:not(.button:disabled):hover {
  color: var(--darker);
  background-color: var(--lighter);
  border: 2px solid var(--lighter);
  cursor: pointer;
}

.m {
  width: 10rem;
}

@media screen and (min-width: 48em) {
  .button {
    font-size: 17px;
    padding: 1rem;
  }
}
