.whatIsContent {
  margin: 50px 60px;
  background-color: #eeeeee;
  padding: 50px 100px;
  border-radius: 25px;
}

#whatIsTitle {
  text-align: center;
  line-height: 70px;
  font-size: 40px;
}

#whatIsText {
  line-height: 34px;
  margin-bottom: 30px;
  font-size: 19px;
}

.whatIsButtons {
  display: flex;
  justify-content: center;
  gap: 120px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 765px) {
  .whatIsContent {
    padding: 50px 20px;
    text-align: center;
  }

  .whatIsButtons {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}
