.main {
  width: 100%;
  height: 22rem;
  background: url('../../assets/HeroMobile.png');
  background-size: cover;
  background-repeat: no-repeat;
}
.main > .title {
  width: 60%;
  margin: 0 0 1rem 0;
  padding: 3rem  2rem 0;
  font-size: 2.5rem;
}

.description {
  width: 45%;
  margin: 0;
  padding: 1.5rem 0 1rem 2rem;
}

.main-button {
  display: flex;
  justify-content: left;
  align-items: left;
  padding-left: 2rem;
}

@media screen and (min-width: 31rem) {
  .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .main > .title {
    width: 40%;
    padding: 1rem 3rem 0 2rem;
  }
  .description {
    padding-right: 3rem;
  }
}

@media screen and (min-width: 48rem) {
  .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 22rem;
    background: url('../../assets/Hero.png');
    background-size: cover;
    background-repeat: no-repeat;
  }
  .main > .title {
    width: 30%;
    margin: 0;
    padding: 2rem 3rem 1rem 2rem;
  }
}
