.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.header > h2 {
  margin: 0;
}
.nav {
  list-style: none;
  margin: 0;
  padding: 0 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}
.nav-item,
.nav-link {
  color: #000;
  text-decoration: none;
}
.nav-item {
  padding: 0.5rem 0 0.7rem;
}
.hidden {
  display: none;
  height: 0;
}
.wrapper {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media screen and (min-width: 48rem) {
  .header {
    align-items: center;
    flex-direction: row;
    padding: 1rem 6rem 1rem 3rem;
  }
  .nav {
    width: 55%;
    padding: 0;
    font-size: 18px;
    flex-direction: row;
    justify-content: space-around;
  }
  .wrapper {
    display: none;
  }
}
