.infoPills {
    display: flex;
    flex-direction: column;
    margin: 0px 2rem;
    padding: 1.2rem 0px;
    text-align: center;
    color: #747474;
  }

  .infoPills h2 {
    color: #212121;
    font-size: 2rem;
  }
  
  .subInfoPills {
    width: auto;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
  }
  
  .subtitleInfoPills {
    color: #212121;
    font-size: 22px;
  }
  
  .infoPill {
    line-height: 1.5rem;
  }
  
  @media screen and (min-width: 40rem) {
  
    .subInfoPills {
      display: flex;
      justify-content: space-around;    
      flex-direction: row;
    }
  
    .infoPill {
      margin: 10px 20px;
      text-align: left;
    }
  
  }